<div class="wrapper">

  <!-- Page Content Holder -->
  <div id="content">
    <div class="container">
      <app-menu [filmsMenu]="toggleFilmsMenuActive"></app-menu>
      <div style="text-align: center; margin-bottom: 20px; margin-top: -30px;">
        <button class="btn btn-dark" [ngClass]="stateButtonAllFilms ? 'active' : ''" style="display: inline; margin-right: 10px;" (click)="getFilmsUser()">Tout</button>
        <button class="btn btn-dark" [ngClass]="stateButtonNotViewedFilms ? 'active' : ''" style="display: inline; margin-right: 10px;" (click)="getFilmsUserNotFinished()">En cours</button>
        <button class="btn btn-dark" [ngClass]="stateButtonViewedFilms ? 'active' : ''" style="display: inline; margin-right: 10px;" (click)="getFilmsUserFinished()">Finis</button>
      </div>

      <div *ngIf="stateButtonAllFilms">
        <div *ngFor="let filmUser of listFilmsUser">
          <i class="fas fa-trash-alt fa-1x float-right" style="font-size: 20px;" (click)="deleteFilmFromUser(filmUser.id)"></i>
          <h2>{{filmUser.film.name}}</h2>
          <span style="display: block;"><i class="far fa-clock"></i> {{filmUser.film.duration}} <span style="margin-left: 20px;"><i class="fas fa-spinner"></i> {{filmUser.progress}} / {{filmUser.film.duration}}</span></span>
          <p style="display: inline-block">{{filmUser.film.description}}</p>
          <i *ngIf="filmUser.finish == false" class="far fa-circle fa-2x float-right" (click)="checkFilmAsViewed(filmUser.id, filmUser.film.duration, true)"></i>
          <i *ngIf="filmUser.finish == true" class="far fa-check-circle fa-2x float-right" style="color: #52b452;" (click)="uncheckViewedFilm(filmUser.id, '0', false)"></i>
          <div style="clear: both"></div>
          <a class="btn badge-dark" href="admin/film-detail/{{filmUser.film.id}}">Détail</a>
          <div class="line"></div>
        </div>
      </div>

      <div *ngIf="stateButtonNotViewedFilms">
        <div *ngFor="let filmUserNotViewed of listFilmsNotViewed">
          <i class="fas fa-trash-alt fa-1x float-right" style="font-size: 20px;" (click)="deleteFilmFromUser(filmUserNotViewed.id)"></i>
          <h2>{{filmUserNotViewed.film.name}}</h2>
          <span style="display: block;"><i class="far fa-clock"></i> {{filmUserNotViewed.film.duration}} <span style="margin-left: 20px;"><i class="fas fa-spinner"></i> {{filmUserNotViewed.progress}} / {{filmUserNotViewed.film.duration}}</span></span>
          <p style="display: inline-block">{{filmUserNotViewed.film.description}}</p>
          <i *ngIf="filmUserNotViewed.finish == false" class="far fa-circle fa-2x float-right" (click)="checkFilmAsViewed(filmUserNotViewed.id, filmUserNotViewed.film.duration, true)"></i>
          <i *ngIf="filmUserNotViewed.finish == true" class="far fa-check-circle fa-2x float-right" style="color: #52b452;" (click)="uncheckViewedFilm(filmUserNotViewed.id, '0', false)"></i>
          <div style="clear: both"></div>
          <a class="btn badge-dark" href="admin/film-detail/{{filmUserNotViewed.film.id}}">Détail</a>
          <div class="line"></div>
        </div>
      </div>

      <div *ngIf="stateButtonViewedFilms">
        <div *ngFor="let filmUserViewed of listFilmsViewed">
          <i class="fas fa-trash-alt fa-1x float-right" style="font-size: 20px;" (click)="deleteFilmFromUser(filmUserViewed.id)"></i>
          <h2>{{filmUserViewed.film.name}}</h2>
          <span style="display: block;"><i class="far fa-clock"></i> {{filmUserViewed.film.duration}} <span style="margin-left: 20px;"><i class="fas fa-spinner"></i> {{filmUserViewed.progress}} / {{filmUserViewed.film.duration}}</span></span>
          <p style="display: inline-block">{{filmUserViewed.film.description}}</p>
          <i *ngIf="filmUserViewed.finish == false" class="far fa-circle fa-2x float-right" (click)="checkFilmAsViewed(filmUserViewed.id, filmUserViewed.film.duration, true)"></i>
          <i *ngIf="filmUserViewed.finish == true" class="far fa-check-circle fa-2x float-right" style="color: #52b452;" (click)="uncheckViewedFilm(filmUserViewed.id, '0', false)"></i>
          <div style="clear: both"></div>
          <a class="btn badge-dark" href="admin/film-detail/{{filmUserViewed.film.id}}">Détail</a>
          <div class="line"></div>
        </div>
      </div>


    </div>
  </div>
</div>
