<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset = "UTF-8">
    <title>externalStyle.html</title>
    <link rel = "stylesheet" type = "text/css" href = "https://bootswatch.com/4/darkly/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <div class="bs-component">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--div class="container"-->
          <a class="navbar-brand" href="/angular-web">{{title}}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav">
              <li class="nav-item"  [ngClass]="isHomeMenu ? 'active' : ''">
                <a class="nav-link" href="/angular-web">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" [ngClass]="isFilmsMenu ? 'active' : ''">
                <a class="nav-link" href="films">Films</a>
              </li>
            </ul>
            <ul *ngIf="isAuth == true" class="navbar-nav ml-auto" style="margin-right: 40px;">
              <li class="dropdown nav-item">
                <button (click)="showDropDownButton()" class="dropbtn nav-link dropdown-toggle">{{username}}</button>
                <div id="myDropdown" [ngClass]="clickedUserDropDown ? 'show' : ''" class="dropdown-content">
                  <a href="user">Mon profil</a>
                  <a *ngIf="isAuth == true" (click)="logOut()">Log out</a>
                </div>
              </li>
            </ul>
            <ul *ngIf="isAuth == false" class="navbar-nav ml-auto">
              <li class="nav-item">
                <a  class="nav-link dropdown-item" href="connexion">Log in</a>
              </li>
            </ul>

          </div>
        <!--/div-->
      </nav>
    </div>
    <!--div class="container"-->
      <router-outlet></router-outlet>
    <!--/div-->
  </body>
</html>
